.git
.github
.idea
.vscode
.cursor
**/node_modules
**/.pnpm-store
**/coverage
**/dist
!core/public/dist
!core/public/dist/**
logs
backup
vmail-data
postfix-data
rspamd-data
postgresql-data
postgresql-socket
redis-data
php-sock
webmail-data
core-data
ssl
.env
billionmail.conf
DBPASS_file.pl
*.log
