conf/* merge=ours
Dockerfiles/* merge=ours
ssl-self-signed/* merge=ours
docker-compose.yml merge=ours
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.env.example text eol=lf
.gitattributes text eol=lf
